@model GigHub.Core.ViewModels.FolloweeViewModel
@{
    ViewBag.Title = "ArtistFollow";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Who I'm Following</h1>
@foreach (var artist in Model.ArtistFollow)
{
    <ul class="gigs voffset4">
        <div class="artist">
            <div class="name">@artist.Followee.Name</div>
            <div class="email">@artist.Followee.Email</div>
        </div>
    </ul>
}
